
$beige-1: #BF6E35;
$beige-2: #7F4A23;
$beige-3: #FF9347;
$beige-4: #402512;
$beige-5: #E58440;

$color-map: (
  $beige-1: $beige-4
);

$primary-color: #BF6E35;
$secondary-color: #F80;



